body {
    margin: 0px;
    font-family: 'Comfortaa', cursive;

    .header-section {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        background-color: brown;
        color: white;

        .inner-header {

            width: 100%;
            height: 100px;
            align-self: center;

            img {
                width: 80%;
                height: 100px;
            }
        }

        nav {
            display: grid;
            align-items: center;

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding-inline-start: 0px;

                li {
                    text-align: center;
                    font-size: 1.5em;
                    list-style-type: none;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }

        .srch {
            display: grid;
            justify-items: center;
            align-items: center;

            input[type=text] {
                padding: 10px;
                font-size: 1em;
                border: 1px solid grey;
                width: 60%;
                background: #f1f1f1;
                float: left;
            }

            button {
                float: left;
                width: 20%;
                padding: 10px;
                background: #2196F3;
                color: white;
                font-size: 1em;
                border: 1px solid grey;
                border-left: none;
                cursor: pointer;

                button:hover {
                    background: #0b7dda;
                }
            }


        }

    }

    main {
        .banner {
            width: 90%;
            max-height: 650px;
            margin: auto;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .inner-banner {
                position: relative;
                width: 500%;
                animation: slide 15s infinite;

                img {
                    width: 20%;
                    float: left;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    opacity: 0.8;
                }

                @keyframes slide {
                    0% {
                        left: 0%;
                    }

                    10% {
                        left: 0%;
                    }

                    20% {
                        left: -100%;
                    }

                    30% {
                        left: -100%;
                    }

                    40% {
                        left: -200%;
                    }

                    55% {
                        left: -300%;
                    }

                    60% {
                        left: -300%;
                    }

                    70% {
                        left: -400%;
                    }

                    80% {
                        left: -400%;
                    }

                    100% {
                        left: 0%;
                    }
                }
            }

        }

        .content {
            margin: 1.5em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1em;
            background-color: white;

            .inner-content {
                display: grid;
                justify-items: center;
                align-items: center;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                figure {
                    display: grid;
                    justify-items: center;
                    margin-bottom: 1em;
                    

                    img {
                        width: 128px;
                    }

                    figcaption {
                        margin-top: 1em;
                        font-size: 1.2em;
                        font-weight: bolder;
                        color: black;
                    }
                }

                p {
                    text-align: center;
                    font-size: 1.2em;
                    color: black;
                }
            }
        }

        h2 {
            text-align: center;
            font-weight: bolder;
            font-size: xx-large;
        }

        .portfolio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1.5em;

            figure {
                display: grid;
                justify-items: center;
                position: relative;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                img {
                    width: 100%;
                    height: 200px;
                }
                img:hover {
                    opacity: 0.8;
                    transform: scale(1.1); 
                  }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 1.5em;
                    color: white;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0, 0.5);
                    width: calc(100% - 10px);
                    padding: 5px;
                }
            }
        }

        .mdiv {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            justify-items: center;

            figure {
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                img {
                    width: 100%;
                    height: 240px;
                    overflow: hidden;
                }
                img:hover {
                    opacity: 0.8;
                }

                figcaption {
                    display: grid;
                    justify-items: center;

                    p {
                        font-size: 1.5em;

                        img {
                            width: 10px;
                            height: 10px;
                            padding: 5px;
                        }
                    }

                    button {
                        background-color: #428500;
                        border: none;
                        color: white;
                        padding: 8px 68px;
                        text-align: center;
                        font-size: 16px;
                        margin: 4px 0px;
                        font-weight: bold;
                        border-radius: 5px;
                        white-space: nowrap;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .product-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);

            .product-img{
                width: 90%;

                img{
                    padding: 1em;
                    width: 100%;
                    height: 500px;
                }
                img:hover{
                opacity: 0.8;
            }
            }

            .details-div{
                p{
                    font-size: 2em;
                }
                img{
                    width: 10px;
                    height: 10px;
                }
                
                .ratings{
                    width: 80%;
                    hr{
                        width: 100%;
                    }
                        .rate{
                            font-size: 1.2em;
                            span{
                                float: right;
                            }
                        }
                }
                .more-details{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-rows: minmax(50px, auto);
                    grid-gap: 1em;
                    width: 80%;

                    .detail{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-auto-rows: minmax(20px, auto);
                        width: 100%;
                        justify-items: left;
                        align-items: center;
                        
                        img{
                            width: 20%;
                            height: auto;
                            
                        }
                        p{
                            font-size: 1.2em;
                        }
                    }
                }
                iframe{
                    width: 80%;
                    height: auto;
                }
                .price{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: minmax(100px, auto);
                    width: 80%;
                    justify-items: center;

                    p{
                        font-size: 1.5em;
                    }
                    button{
                        width: 50%;
                        height: 50px;
                        background-color: #428500;
                        border: none;
                        color: white;
                        text-align: center;
                        font-size: 1em;
                        font-weight: bold;
                        border-radius: 5px;
                        white-space: nowrap;
                    }
                }
            }
        }
        .contact{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1.5em;
            justify-items: center;

            .con_content {
                width: 100%;
                height: 600px;
                margin: 10px;
                display: inline-block;
                vertical-align: top;
            }
            .con_content p{
                padding: 20px;
                line-height: 1.6;
                font-size: 1.2em;
            }
            .con_content iframe{
                padding-left: 20px;
                width: 100%;
                height: 600px;
            }

            fieldset{
                width: 90%;
                margin: 20px;
                border-radius: 20px;
                font-size: 20px;
                border: 1px solid #f2f2f2;
                background-color: #f2f2f2; 
                display: inline-block;

                label{
                    font-size: 17px;
                    margin: 8px 10px;
                }

                input::placeholder, textarea::placeholder{
                    font-size: 1em;
                }
                input[type=text],input[type=email],textarea, select {
                    width: 90%;
                    font-size: 16px;
                    padding: 12px 20px;
                    margin: 8px 10px;
                    display: inline-block;
                    border: 1px solid gray;
                    border-radius: 4px;
                    box-sizing: border-box;
                  }
                  input[type=submit] {
                    width: 50%;
                    font-size: 1em;
                    text-align: center;
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 10px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                  }
                  input[type=submit]:hover {
                    background-color: #45a049;
                  }
            }
            
        }
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lavenderblush;

        h3 {
            text-align: center;
            grid-column: 1/3;
            font-size: 1.5em;
        }

        div {
            display: grid;
            justify-items: stretch;
            padding-left: 1em;
            
        }
            .links{
                display: grid;
                grid-template-columns: 1fr;
                justify-items: left;

                p{
                    display: grid;
                    justify-items: left;
                }
                a{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-auto-rows: minmax(30px, auto);
                    justify-items: left;
                    width: 80%;
                    color: black;
                    text-decoration: none;
                }
            }
        

        .copyright {
            grid-column: 1/3;
            text-align: center;
        }
    }
}

@import '_media1';
@import '_media2';